*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
     color:  #5B5B5B;
;

}
button{
    background-color: transparent;
    border: 0;
}
ul{
    list-style-type: none;
}


**********************************************************
.header{

    display: flex;
   align-items: center;
   flex-wrap: wrap;
   padding: 30px 0px;
   
    
}
.item ul{
    display: flex;
    flex-wrap: wrap;

    gap: 80px;
    white-space: nowrap;
}
.profile ul{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}
.profile img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.container{
   width: 90%;
    margin: auto;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 30px;

}


********************************************************
.colltions {
    
   
    border-radius: 16px;
    overflow: hidden;
    box-sizing: border-box;
}

.colltion{
    width: calc( (100% - 100px ) / 3);
    background-color: #FFFFFF;
     padding: 10px;
     border-radius: 16px;
;
}
.colltion > img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 12px;
}
.progress-bar{
    width: 100%;
    height: 6px;
    background-color: #e6e6e6; 
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.progress-fill{
    width: 75%; 
    height: 100%;
    background-color: #49BBBD;
}
.sec{
     padding: 30px;
 background-color:   #eef7ff;
;
}
.sec-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec-header h2{
    font-size: 30px;
    font-weight: 800;
}
.sec-header a{
    text-decoration: none;
    color: #49BBBD;
    font-size: 16px;
    font-weight: 500;
}
.colltion > h2{
    font-size: 26px;
    font-weight: 800;
    margin: 10px;
}
h4{
   text-align:right;
   font-size: 14px;
   color: #00000080; 
}
.pra{
    margin-top: 40px;
    margin-bottom: 25px;
}
***********************************

.roww{
    align-items: center;
    margin-top: 30px;
}
.roww{
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
}

.category{

     height: 277px;
    width: calc((100% - 270px) / 4);
    text-align: center;
    background-color: white;
    padding: 11px 73px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

.category img{
    width: 80px;
    height: 70px;
}
.category h2{
    font-size: 30px;
    margin: 15px 0 10px;
}
.category p{
    font-size: 17px;
    line-height: 1.5;
    color: #777;
}
*******************************************************

.rowww{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}
.course-card{
   
    width: calc((100% - 135px) / 4);
     height: 560px;
    background-color: white;
    padding: 15px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
   
   
}
.course-card > img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    
}
.course-card > h2{
margin-top: 20px;
    margin-bottom: 20px;
}
.course-card > p{
    font-size: 17px;
    line-height: 1.5;
    color: #777;
    margin-top: 20px;
    margin-bottom: 20px;
}
.iconn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.profilee ul{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
     margin-top: 20px;
    margin-bottom: 20px;
}
.profilee img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.rowww{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.course .container{
    background-color: #eef7ff;
     padding: 41px 90px 200px;;
}
.course{
     margin-top: 40px;
}
.cou-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 25px;
}
.profile ul li:nth-child(3){
    margin-left: auto;
}
.old-price{
    margin-left: auto;
    text-decoration: line-through;
    color: #999;
}

.new-price{
    margin-left: 10px;
    color: #49BBBD;
    font-weight: bold;
}
***********************************************************

.footer{
    background-color: #252641;
    color: white;
    text-align: center;
    padding: 50px 0 35px;
}

.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.footer-line{
    height: 55px;
    border-left: 1px solid #626381;
}

.footer-top h5{
    width: 120px;
    text-align: left;
    font-size: 16px;
}

.subscribe-title{
    margin-top: 50px;
    color: #B2B3CF;
    font-size: 20px;
}

.subscribe-form{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.subscribe-form input{
    width: 290px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid #83839A;
    background-color: transparent;
    padding-left: 20px;
    color: white;
}

.subscribe-form button{
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: #49BBBD;
    color: white;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 55px;
    color: #B2B3CF;
}

.small-line{
    height: 18px;
    border-left: 1px solid #626381;
}

.copyright{
    margin-top: 20px;
    color: #B2B3CF;
    font-size: 14px;
}
.footer{
    background-color: #252641;
    color: white;
    text-align: center;
    padding: 50px 0 35px;
}
